.container-fluid
	.row
		.titulo.panel.panel-primary 
			h1 usuarios

		.col-md-4 
			
			.btn-group.btn-group-justified
				.btn-group
					button.btn.btn-default(type='button',href="/User/nuevos") Nuevo
				.btn-group
					button.btn.btn-default(type='button') Editar
				.btn-group
					button.btn.btn-default(type='button') Eliminar

			
			




		.col-md-8
				#contenido
			
					.encontrar
						form.navbar-form.navbar-left(role='search')
							.form-group
								input.buscar.form-control(type='text', placeholder='Search')
								button.btn1.btn.btn-primary(type='button') Submit

					
					